<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtwon.test">
    <uses-feature android:name = "android.hardware.camera2"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <activity
            android:name="org.techtwon.test.UserLogIn">
        </activity>
        <activity
            android:name="org.techtwon.test.UserSignUp">
        </activity>
        <activity
            android:name="org.techtwon.test.VetLogIn">
        </activity>
        <activity
            android:name="org.techtwon.test.VetSignUp">
        </activity>
        <activity
            android:name="org.techtwon.test.UserMyPage">
        </activity>
        <activity
            android:name="org.techtwon.test.VetQuestionList">
        </activity>
        <activity
            android:name="org.techtwon.test.VetNavi">
        </activity>
        <activity
            android:name="org.techtwon.test.UserNavi">
        </activity>
        <activity
            android:name="org.techtwon.test.UserMain">
        </activity>
        <activity
            android:name="org.techtwon.test.UserAlarm">
        </activity>
        <activity
            android:name="org.techtwon.test.UserDiagnosis">
        </activity>
        <activity
            android:name="org.techtwon.test.UserStep2"
            android:exported="true">
        </activity>
        <activity
            android:name=".LogInSelection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="test.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>