<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtwon.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <activity
            android:name="org.techtwon.test.UserLogIn">
        </activity>
        <activity
            android:name="org.techtwon.test.UserSignUp">
        </activity>
        <activity
            android:name="org.techtwon.test.VetLogIn">
        </activity>
        <activity
            android:name="org.techtwon.test.VetSignUp">
        </activity>
        <activity
            android:name="org.techtwon.test.UserMyPage">
        </activity>
        <activity
            android:name="org.techtwon.test.VetQuestionList">
        </activity>
        <activity
            android:name=".LogInSelection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>